<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.1.xsd">

	<http pattern="/webservice/*" security="none" />
	<http pattern="/session/invalidSession.do*" security="none" />
	<http pattern="/jsp/login.jsp" security="none" />
	<http pattern="/phone/missed_call.do" security="none" />
	<http pattern="/phone/upload.do" security="none" />

	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="authenticationProvider">
		</authentication-provider>
	</authentication-manager>

<!-- 	配置 验证过滤器, 此过滤器取代系统的XML权限过滤 , 此过滤器配置完毕之后存放到 系统缺省的过滤链中 -->
	<beans:bean id="filterSecurityInterceptor"
		class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<!-- 需要认证管理器, 通过它可以获取 管理员已经拥有的角色信息 ， 由于id已经被org.springframework.security.authenticationManager默认了。不能更改，所以用别名 -->
		<beans:property name="authenticationManager" ref="authenticationManager"></beans:property>
		<!-- 决策器 -->
		<beans:property name="accessDecisionManager" ref="roleAccessDecisionManager" />
	<!-- 	配置urlService ，security可以通过url得到角色名称 -->
		<beans:property name="securityMetadataSource" ref="urlService" />
	</beans:bean>

	<!-- 自定义权限不足处理程序 -->
	<beans:bean id="accessDeniedHandler" class="com.spring.session.AjaxAccessDeniedHandler">
		<beans:property name="errorPage" value="/home/noright.do"></beans:property>
	</beans:bean>

<!-- 	<authentication-manager>
		<authentication-provider>
		    <user-service>
		    <user name="test" password="test" authorities="ROLE_MANAGER, ROLE_ADMIN" />
		    <user name="bob" password="bobspassword" authorities="ROLE_USER" />
		    </user-service>
		</authentication-provider>
	</authentication-manager> -->

	<http auto-config="true">
		<access-denied-handler ref="accessDeniedHandler" />
		<session-management
			invalid-session-url="/session/invalidSession.do?redirect=/jsp/login.jsp"></session-management>
		<!--  <intercept-url pattern="/admin**" access="hasRole('ROLE_USER')" />  -->
		<!--	<intercept-url pattern="/app.jsp" access="hasRole('ROLE_SERVICE')"/> -->
		<!-- <intercept-url pattern="/**" access="hasRole('ROLE_USER')"/> -->

		<!-- 增加权限过滤器,采用数据库方式获取权限 -->
		<custom-filter ref="filterSecurityInterceptor" before="FILTER_SECURITY_INTERCEPTOR" />
		<logout delete-cookies="JSESSIONID,SESSION" invalidate-session="true"
			logout-url="/logout.do" logout-success-url="/jsp/login.jsp" />

		<form-login login-page="/jsp/login.jsp"
			authentication-failure-url="/jsp/loginError.jsp?" default-target-url="/home/index.do" />
		<csrf disabled="true" />
	</http>


</beans:beans>